.selectButton {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    color: var(--text-color);
    display: flex;
    gap: 0.75rem;
    font-size: 0.875rem;
    outline-color: var(--highlight-color);
    padding-block: 0.75rem;
    padding-inline: 1.25rem;
}

.selectButton:focus-within {
    outline: auto;
    outline-color: var(--highlight-color);
}

.selectButton:not(:disabled) {
    cursor: pointer;
}

.selectButton:disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-text-color);
}

.title {
    color: var(--text-color);
}

.placeholder {
    color: var(--placeholder-color);
}

.title, .placeholder {
    font-size: 0.875rem;
}

.defaultItem {
    color: var(--placeholder-color);
}

.defaultItem {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    gap: 0.25rem;
    padding: 0.75rem;
    text-align: start;
    width: 100%;
}

.defaultItem:hover {
    background-color: var(--hover-color);
}
